# install prefix
VENV="/ve"

# cache package downloads
PKG_CACHE="/tmp/venv-pkg"

# build directory
BUILD_DIR="$VENV/build"

# remote rsync for push/pull
RSYNC_USER="me"
RSYNC_HOST="me.com"
RSYNC_PATH="ve"
