awscli
baker
bcrypt
black
boto
boto3
flake8
flask
flask-cors
flask_mako
gevent
GitPython
google-api-python-client
gunicorn
isort
libnacl
linode-cli
mako
msgpack
oauth2client
pip-tools
psycopg2 --no-binary psycopg2
pynacl
pytz
pyyaml
redis
requests
rq
slack_sdk
supervisor
virtualenv
websocket-client
werkzeug==2.0.3
